@charset "utf-8";
@import "compass/reset";
//sollte diese folgende Zeile zu einer Fehlermeldung führen - kommentieren Sie die folgende und die obere Zeile aus und kommentieren Sie die nachfolgende ein
@import "compass/css3";



@import "base"; /* inkludiert die Datei _base.scss */
@import "button"; /* inkludiert die Datei _button.scss */


.btn {
    @include transition-property (padding);
    @include transition-duration (600ms);
    @include transition-delay (500ms);
    @include transition-timing-function (linear);

    &.ease-in {
        @include transition-timing-function (ease-in);
        @include transition-duration (3s);
    }

    &.ease-out {

        @include transition-timing-function (ease-out);
        @include transition-duration (3s);
    }

    &.ease-in-out {
        @include transition-timing-function (ease-in-out);
        @include transition-duration (3s);
    }

    &.green {
       @include transition-property (color);
    }

    &.animation {
        position: absolute;
        left:0;
        top:0;
        right:auto;
        bottom:auto;
        animation-timing-function: linear;
    }
}

body:hover .animation {
    animation-name:myanimation2;
    animation-duration:5s;
}


.btn:hover {
    padding-left: 25px;
    padding-right: 25px;
}

